<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticket Information</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }
        h1 {
            color: #333;
        }
        p {
            margin: 5px 0;
        }
    </style>
</head>
<body>
<h1 th:text="'Hello ' + ${email}">Hello, User</h1>

<h2>Info about ticket:</h2>
<p><strong>First name:</strong> <span th:text="${ticket.firstName}">First Name</span></p>
<p><strong>Last name:</strong> <span th:text="${ticket.lastName}">Last Name</span></p>
<p><strong>OIB:</strong> <span th:text="${ticket.vatin}">VATIN</span></p>
<p><strong>Created on:</strong> <span th:text="${ticket.getCreationDate()}">Creation date</span></p>
</body>
</html>
